.icon-container {
  transition: transform 0.2s linear;
}

.rotate {
  transform: rotate(90deg);
}

.paragraph {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0s linear; /* Initial transition speed */
}

.open {
  max-height: 1000px; /* Adjust height as needed */
  transition: max-height 0s linear; /* Transition speed for opening */
}
